@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "/variables";

@import "/clouds";

html {
  height: 100%;
  background-color: $main-bg;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, white 32%, rgba(135, 206, 250, 1) 98%);
  background-repeat: no-repeat;
}

.App {
  height: 100%;
  width: 85%;
  margin: 0 auto;
}

// Header

.header {
  display: flex;
  flex-direction: row;
  height: 20em;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1000;

  @media (max-width: $breakpoint-mobile) {
    height: 15em;
    justify-content: center;
  }
}

.logo {
  position: absolute;
  left: 120px;
  top: 130px;

  @media (max-width: $breakpoint-mobile) {
    left: 60px;
    top: 80px;
  }
}

.cloud {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  fill: white;
  stroke-linejoin: round;
  stroke-width: 0.5;
  stroke: lightskyblue;

  @media (max-width: $breakpoint-mobile) {
    height: 200px;
    width: 300px;
    left: 10px;
  }
}

// Dashboard

.dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.noResults {
  display: flex;
  justify-content: center;
  margin: 100px;
  width: 100%;
}
// Search Form

.searchForm {
  display: flex;
  margin-bottom: 20px;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}

.searchInput label {
  text-transform: capitalize;
}
